.button {
    font-family: GoogleSans;;
    height: 40px;
    border-radius: 4px;
    color: #ffffff;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    background-color: #019160;
    line-height: 40px;
    border: 0px;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

.hidden{
    visibility: hidden;
}

.button:hover{
    background-color: #2FBE8E;
}

button:active{
    background-color: #01B075;
}

.button-have-icon{
    height: 40px;
    border-radius: 4px;
    line-height: 40px;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #019160;
    size: 13px;
    box-sizing: border-box;
    display: flex;
    outline: none;
    border: 0px;
    cursor: pointer;
    align-items: center;
    font-family: GoogleSans;
}   

.button-have-icon:hover{
    background-color: #2FBE8E;
}

.button-have-icon:active{
    background-color: #01B075
}

.second-button{
    background-color: #bbbbbb;
    height: 40px;
    border-radius: 4px;
    size: 13px;
    color: #000000; 
    text-align: center;
    padding-right: 24px;
    padding-left: 24px;
    outline: none;
    border: 0px;
    font-family: GoogleSans;
}

.button-icon{
    width: 16px;
    height: 16px;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.second-button:hover{
    background-color: #E9EBEE;
}
.second-button:active{
    background-color: #01B075;
}

.save-icon{
    margin-right: 8px;
}

.second-button-number{
    background-color: #bbbbbb;  
    border-radius: 4px;
    size: 13px;
    color: #000000; 
    text-align: center;
    outline: none;
    border: 0px;
    font-family: GoogleSans;
}
