body{
    margin: 0;
    font-family: GoogleSans;
    font-size: 13px;
}

.text-align-left{
    text-align: left;
}

.text-align-center{
    text-align: center;
}

.text-align-right{
    text-align: right;
}

@font-face{
    font-family: 'GoogleSans';
    src: url('../font/GoogleSans-Regular.otf');
}

@font-face{
    font-family: 'GoogleSans-Bold';
    src: url('../font/GoogleSans-Bold.otf');
}

@font-face{
    font-family: 'GoogleSans-italic';
    src: url('../font/GoogleSans-Italic.otf');
}
